.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .info-text {
        display: flex;
        margin-bottom: 50px;
        justify-content: center;

        h1 {
            color: #452e76;
            font-size: 3em;
        }
    }

    .members-container {
        margin-left: 250px;
        margin-right: 250px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 30px;
    }
}